body {
  max-width: 600px;
  padding: 50px;
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #222;
  background: #eae9e3;
}

a {
  color: #ff00ee;
}

nav {
  font-size: 150%;
  margin-bottom: 1em;
}

.error {
  padding: 1em;
  background: #fff;
  color: red;
}

.transfers {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transfer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em 0;
  padding: 1em;
  background: #fafafa;
  box-shadow: 2px 2px 1px #cac9c3;
}

.transfer h2 {
  flex: 1 0 100%;
  display: flex;
  margin: 0 0 .5em;
}

.transfer .destination {
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.transfer time {
  flex: 0 0 auto;
  margin-left: 1em;
  color: #33cccc;
  font-weight: normal;
}

.transfer .type {
  flex: 0 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  color: #666;
}

.transfer .train {
  flex: 1 0 auto;
  margin: 0 0 0 .5em;
  font-weight: bold;
  color: #666;
}
.transfer .train:before {
  content: '#';
}

.transfer .track {
  flex: 0 0 auto;
  margin: 0 0 0 1em;
  font-weight: bold;
}

.spinner {
  position: fixed;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, .1);

  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
